input {
  ganglia {
    port => 5979
  }
}

filter {
    mutate {
  rename => [ "type", "gtype" ]
    }   
    if [gtype] == "string" {
  mutate {
      remove_field => [ "val" ]
      add_field => {
    "val_str" => "%{val}"
      }
  }
    } else {   
  mutate {
      convert => { "val" => "float" }
      remove_field => [ "val" ]
      add_field => {
    "val_double" => "%{val}"
      }
  }
    }
}


output {
  elasticsearch_java {
    network_host => "0.0.0.0"
    cluster => "cloumon-elk"
    protocol => "transport"
    hosts => {es_hosts}
    index => "{cluster_name}-hbase-ganglia-metrics-%{+YYYY.MM.dd}"
  }
}
