input {
	ganglia {
    port => 5969
	}
}

filter {
    mutate {
        rename => [ "type", "gtype" ]
    }   
    if [gtype] == "string" {
        mutate {
            remove_field => [ "val" ]
            add_field => {
                "val_str" => "%{val}"
            }   
        }   
    } else {
        mutate {
            convert => { "val" => "float" }
            remove_field => [ "val" ]
            add_field => {
                "val_double" => "%{val}"
            }   
        }   
    }   
}


output {
	elasticsearch_java {
    network_host => "0.0.0.0"
		protocol => "transport"
		cluster => "cloumon-elk"
		hosts => {es_hosts}
		index => "{cluster_name}-tajo-ganglia-metrics-%{+YYYY.MM.dd}"
	}
}
