input {
  jmx {
    path => "/home/gmonitor/cloumon/elk/logstash/jmxconf/{cluster_name}-zookeeper"
  }
}

filter {
  ruby { 
    init => "
    @name_rgx = /\S+:name0=([A-Za-z0-9\-\._]+),?name1=([A-Za-z0-9\-\._]+),?name2=([A-Za-z0-9\-\._]+),?(name3=([A-Za-z0-9\-\._]+))?/
    @host_rgx = /([A-Za-z0-9_.-]+_[0-9]+)/
    "
    code => "
      if event['metric_path'].index('Connections')
        event.cancel
      end 
      matched = @name_rgx.match(event['metric_path'])

      if not matched[5]
        event['name'] = '%s' % matched[3]
      else
        event['name'] = '%s' % matched[5]
      end 
 
      if event['metric_value_string']
        event['val_str'] = event['metric_value_string']
      else
        event['val_double'] = event['metric_value_number']
      end

      hostname = @host_rgx.match(event['metric_path'])
      event['host'] = hostname[1]
    "
    remove_field => ["metric_value_string", "metric_value_number"]
  }
}

output {
	elasticsearch_java {
    network_host => "0.0.0.0"
		protocol => "transport"
		cluster => "cloumon-elk"
		hosts => {es_hosts}
    index => "{cluster_name}-zookeeper-jmx-metrics-%{+YYYY.MM.dd}"
	}
}

