input {
  exec {
    command => '/home/gmonitor/cloumon/alert/get-latest-metrics.sh http://{es_host}:5911 default-system-http-metrics' 
    interval => 60
  }
  exec {
    command => '/home/gmonitor/cloumon/alert/get-latest-metrics.sh http://{es_host}:5911 default-flume-jmx-metrics' 
    interval => 60
  }
  exec {
    command => '/home/gmonitor/cloumon/alert/get-latest-metrics.sh http://{es_host}:5911 default-hadoop-jmx-metrics' 
    interval => 60
  }
  exec {
    command => '/home/gmonitor/cloumon/alert/get-latest-metrics.sh http://{es_host}:5911 default-elasticsearch-http-metrics' 
    interval => 60
  }
  exec {
    command => '/home/gmonitor/cloumon/alert/get-latest-metrics.sh http://{es_host}:5911 default-tajo-ganglia-metrics' 
    interval => 60
  }
  exec {
    command => '/home/gmonitor/cloumon/alert/get-latest-metrics.sh http://{es_host}:5911 default-system-http-metrics' 
    interval => 60
  }
}


filter {
  ruby {
    init => "
      require 'json'
      require 'elasticsearch'
      require 'time'

      @hosts_keys = ['hostname', 'log_host', 'host']
      @value_keys = ['metric_value', 'val_double']

      def get_key_if_exists(hash, key)
        key if hash.has_key?(key)
      end

      def get_key_in_list(hash, list)
        list.each do |h|
          k = get_key_if_exists(hash, h)
          return k if k
        end
        nil
      end

      def get_hostkey(hash)
        return get_key_in_list(hash, @hosts_keys)
      end
      
      def get_valuekey(hash)
        return get_key_in_list(hash, @value_keys)
      end

      # Elasticsearch hosts of the cluster
      @hosts=['{es_host}:5911']

      # Basic Auth - username, optional
      @user=nil
      # Basic Auth - password, optional
      @password=nil
      # SSL, boolean, optional
      @ssl=nil
      # SSL Certificate Authority file, optional
      @ca_file=nil

      transport_options = {} 

      if @user && @password
        token = Base64.strict_encode64(@user + ':' + @password)
        transport_options[:headers] = { Authoirzation: 'Basic ' + token }
      end

      @hosts = if @ssl then
        @hosts.map {|h| { host: h, scheme: 'https' } }
      else
        @hosts
      end

      if @ssl && @ca_file
        transport_options[:ssl] = { ca_file: ca_file }
      end

      @es_client = Elasticsearch::Client.new hosts: @hosts, transport_options: transport_options, retry_on_failure: true, reload_connections: true
    "
    code => "
      metrics_data = []
      percolate_data = []
      es_result = {}
      metrics_diff = {} 
      begin
        es_result = JSON.parse(event['message'])
      rescue
        @logger.error('data format error:' + event['message'])
        event.cancel
        return
      end

      if not es_result.has_key?('hits') or es_result['hits']['hits'].size() == 0
        event.cancel
        return
      end

      es_result['hits']['hits'].each do |doc|
        metric_key = doc['_source'].has_key?('metric_name') ? 'metric_name' : 'name'
        host_key = get_hostkey(doc['_source'])

    	  if not doc['_source'][metric_key]
          @logger.error('strange data format: ' + doc['_source'].to_json())
          next
        end

        key = doc['_source'][metric_key] + '-'
        key += doc['_source'][host_key] if host_key

        value_key = get_valuekey(doc['_source'])
        if not value_key
          @logger.debug('value key is not exists for ' << doc['_source'].to_s)
          next
        end

        # defines es_result['hits']['hits'] are sorted
        if not metrics_diff.has_key? key
          h = { val: doc['_source'][value_key], diff: false, _source: doc['_source'] }
          metrics_diff[key] = h
        else
          if not metrics_diff[key][:diff]
            metrics_diff[key][:diff] = true
            metrics_diff[key][:val] -= doc['_source'][value_key] 
            metrics_data.push metrics_diff[key]
            obj = doc['_source'].clone
            obj[value_key] = metrics_diff[key][:val]
            percolate_data.push percolate: { index: 'delta-alert-percolator', type: 'metrics' }
            percolate_data.push doc: obj
          end
        end
      end

      percolate_result = {}
      begin
        percolate_result = @es_client.mpercolate(body: percolate_data)
      rescue
        event.cancel
        return
      end
      
      if not percolate_result.has_key?('responses')
        event.cancel
        return
      end

      alert_metrics = {}
      alert_time = nil
      percolate_result['responses'].each.with_index(0) do |item, i|
        if item.has_key?('total') and item['total'] > 0
          next if not metrics_data[i][:diff]
          oh = metrics_data[i][:_source]
          metric_key = oh.has_key?('metric_name') ? 'metric_name' : 'name'
          host_key = get_hostkey oh
          metric_val = oh[metric_key]
          host_val = oh[host_key] if host_key
          value_val = metrics_data[i][:val].to_s
          time_val = Time.parse(oh['@timestamp'])

          alert_metrics[metric_val] = [] if not alert_metrics[metric_val]
          alert_metrics[metric_val].push m: host_val, v: value_val
          alert_time = time_val.getlocal.to_s if not alert_time
        end
      end
      puts 'alert_metrics: ' << JSON.generate(alert_metrics)

      if alert_metrics.size() == 0
        event.cancel
        return
      end 

      alert_content = 'Delta Metrics meeting the conditions at ' << alert_time << '

'
      alert_metrics.each do |val, alerts|
        alert_content << val << '
'
        alerts.each do |alert|
          alert_content << '        ' << if alert[:m] then alert[:m] << ' is ' else '' end << alert[:v] << '
'
        end
        alert_content << '
'
      end

      event['message'] = alert_content
    "
  }
}


output {
#  email {
#    to => ""
#    from => ""
#    subject => "Warning: There're metrics over threshold."
#    body => "%{message}"
#    options => {
#      smtpIporHost => 'smtp.gmail.com'
#      port => '587'
#      domain => 'smtp.gmail.com'
#      authenticationType => 'plain'
#      userName => ''
#      password => ''
#      starttls => true
#    }   
#  }
}
